<%= link_to memory_path(memory),
    id: "memory-id-#{memory.id}",
    class: "card bg-base-100 shadow-sm w-full" do %>

  <figure>
  <div><%= image_tag memory.display_image, class: "w-full h-full object-cover" %></div>
  </figure>

  <div class="card-body">
    <div class="flex items-start gap-2">
      <h2 class="card-title hover:underline">
        <%= memory.title %>
      </h2>
    </div>
  </div>

<% end %>
